<a href="/node/<%= host %>/<%= port %>/">Connect to Qni</a>
<% if false %>
<form action="/node/<%= host %>/<%= port %>/" method="post" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i>Connect to Qni
  </button>
</form>
<% end %>
